Makefile
Makefile.in
aclocal.m4
authors.h
autom4te.cache/
build-aux/bin/bison++
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.1
autom4te.cache/traces.2
build-aux/bin/bison++
config.log
config.status
configure
libtool
tests/Makefile

autom4te.cache/output.3
autom4te.cache/traces.3
tcsh/Makefile
tcsh/Makefile.in

Makefile
Makefile.in
aclocal.m4
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.1
autom4te.cache/traces.2
build-aux/bin/bison++
config.h
config.h.in
config.log
config.status
configure
lib/misc/.deps/
lib/misc/.dirstamp
lib/misc/.libs/
lib/misc/contract.lo
lib/misc/deref.lo
lib/misc/error.lo
lib/misc/escape.lo
lib/misc/file-library.lo
lib/misc/indent.lo
lib/misc/libmisc.la
lib/misc/symbol.lo
lib/misc/timer.lo
libtool
src/.deps/
src/.dirstamp
src/.libs/
src/common.lo
src/libtc.la
src/object/.deps/
src/object/.dirstamp
src/object/libobject.lo
src/parse/.deps/
src/parse/.dirstamp
src/parse/libparse.lo
src/parse/location.hh
src/parse/location.hh.bak
src/parse/parsetiger.cc
src/parse/parsetiger.hh
src/parse/parsetiger.hh.bak
src/parse/parsetiger.html
src/parse/parsetiger.lo
src/parse/parsetiger.output
src/parse/parsetiger.stamp
src/parse/parsetiger.xml
src/parse/prelude.cc
src/parse/prelude.lo
src/parse/scantiger.cc
src/parse/scantiger.hh
src/parse/scantiger.lo
src/parse/tiger-parser.lo
src/parse/tweast.lo
src/task/.deps/
src/task/.dirstamp
src/task/argument-task.lo
src/task/boolean-task.lo
src/task/disjunctive-task.lo
src/task/function-task.lo
src/task/int-task.lo
src/task/multiple-string-task.lo
src/task/simple-task.lo
src/task/string-task.lo
src/task/task-register.lo
src/task/task.lo
src/tc
src/version.cc
src/version.lo
src/version.stamp
stamp-h1
tests/Makefile
tests/Makefile.in
=======
libtool
src/object/.deps/tasks.Po
src/parse/.deps/tasks.Po
src/parse/libparse.lo
src/parse/parsetiger.cc
src/parse/parsetiger.html
src/parse/parsetiger.lo
src/parse/parsetiger.output
src/parse/parsetiger.xml
src/parse/prelude.lo
src/parse/scantiger.cc
src/parse/scantiger.hh
src/parse/scantiger.ll
src/parse/scantiger.lo
src/parse/tiger-parser.lo
tests/Makefile
tests/Makefile.in

build-aux/py-compile
config.h
config.h.in
src/ast/.deps/
src/ast/.dirstamp
src/ast/array-exp.lo
src/ast/array-ty.lo
src/ast/assign-exp.lo
src/ast/ast.lo
src/ast/break-exp.lo
src/ast/call-exp.lo
src/ast/cast-exp.lo
src/ast/chunk-list.lo
src/ast/class-ty.lo
src/ast/dec.lo
src/ast/dumper-dot.lo
src/ast/exp.lo
src/ast/field-init.lo
src/ast/field-var.lo
src/ast/field.lo
src/ast/for-exp.lo
src/ast/function-dec.lo
src/ast/if-exp.lo
src/ast/int-exp.lo
src/ast/let-exp.lo
src/ast/libast.lo
src/ast/method-call-exp.lo
src/ast/method-dec.lo
src/ast/name-ty.lo
src/ast/nil-exp.lo
src/ast/object-exp.lo
src/ast/op-exp.lo
src/ast/pretty-printer.lo
src/ast/record-exp.lo
src/ast/record-ty.lo
src/ast/seq-exp.lo
src/ast/simple-var.lo
src/ast/string-exp.lo
src/ast/subscript-var.lo
src/ast/ty.lo
src/ast/type-dec.lo
src/ast/var-dec.lo
src/ast/var.lo
src/ast/while-exp.lo
src/object/.deps/tasks.Po
src/parse/.deps/libparse.Tpo
src/parse/.deps/parsetiger.Tpo
src/parse/.deps/prelude.Tpo
src/parse/.deps/scantiger.Tpo
src/parse/.deps/tasks.Po
src/parse/parsetiger.cc
src/parse/parsetiger.hh.bak
src/parse/parsetiger.html
src/parse/parsetiger.output
src/parse/parsetiger.xml
tcsh/python/.deps/
tcsh/python/swig.mk
tcsh/run

autom4te.cache/output.0
autom4te.cache/traces.0
lib/misc/.deps/test-deref.Po
lib/misc/.deps/test-error.Po
lib/misc/.deps/test-escape.Po
lib/misc/.deps/test-graph.Po
lib/misc/.deps/test-indent.Po
lib/misc/.deps/test-scoped.Po
lib/misc/.deps/test-separator.Po
lib/misc/.deps/test-symbol.Po
lib/misc/.deps/test-timer.Po
lib/misc/.deps/test-unique.Po
lib/misc/.deps/test-xalloc.Po
lib/misc/.deps/test_variant-test-variant.Po
src/object/.deps/test-parse.Po
src/parse/.deps/parsetiger.Plo
src/parse/.deps/src_parse_test_parse-test-parse.Po
src/parse/.deps/test-tweast.Po

lib/misc/.deps/contract.Plo
lib/misc/.deps/deref.Plo
lib/misc/.deps/error.Plo
lib/misc/.deps/escape.Plo
lib/misc/.deps/file-library.Plo
lib/misc/.deps/indent.Plo
lib/misc/.deps/symbol.Plo
lib/misc/.deps/timer.Plo
src/.deps/common.Plo
src/.deps/tc.Po
src/parse/parsetiger.stamp
src/task/.deps/argument-task.Plo
src/task/.deps/boolean-task.Plo
src/task/.deps/disjunctive-task.Plo
src/task/.deps/function-task.Plo
src/task/.deps/int-task.Plo
src/task/.deps/multiple-string-task.Plo
src/task/.deps/simple-task.Plo
src/task/.deps/string-task.Plo
src/task/.deps/task-register.Plo
src/task/.deps/task.Plo
src/task/.deps/tasks.Po


*.*o
.*
png.sh
